/* top level styling */

html {
	background-color: #75CBD2;
}
 body {
 	font-family: "Neuton", serif;
  background-color: #75CBD2;
 }

.twelve.column.row {
	margin: 0;
	padding: 0;
}
.twelve.column.row.top_row {
	background-color: #D3EFEE;
	position: relative;
}
.twelve.column.row.middle_row {
	background-color: #75CBD2;
}

.sixteen.wide.column {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}


/* header level styling */
.logo {
	position: relative;
	top: -4px;
	left: 0;
	margin-top: -6%;
	padding-top: 20px;
}

.logo img {
	max-width: 100%;
	height: auto;
}

#sign-in {
	float: right;
	margin-top: -30px;
	margin-right: 30px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.tagline {
	position: relative;
	margin-top: 2%;
	padding-left: 5px;
}

.tagline img {
	max-width: 80%;
	height: auto;
}

.button-container {
	display: table;
	margin-top: 2%;
	width: 40%;
	top: 50%;
}

.ui.teal.button {
	margin-left: 10px;
	font-size: .9rem;
	display: inline-block;
	text-align: center;
	border-radius: 20px;
	padding: 2% 3% 2% 3%;
	width: 23%;
}

.ui.green.button,
.ui.purple.button,
.ui.pink.button {
	font-size: .9rem;
	display: inline-block;
	text-align: center;
	border-radius: 20px;
	padding: 2% 3% 2% 3%;
	width: 23%;
}

/* nav bar styling */

.sixteen.wide.column {
	font-color: white;
	background-color: #f5cbd3;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.middle_nav_menu {
	margin-left: 10%;
	background-color: #f5cbd3;
	a {
		display: inline-block;
		color: #681f41;
		padding: 1% 2%;
	}
}

h2 {
	margin: 0px 0.2em;
	padding: 0;
	font-family: "Neuton", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
}

.ui.icon.input {
	border-radius: 40%;
}


/* body level styling */

.main_content {
	padding-top: 10%;
}

.ui.grid.two.column.stackable.white {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.white {
	margin-top: 50px;
	background-color: white;
	max-width: 100%;
	height: auto;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.main_content_body {
	background-color: white;
	max-height: 80%;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.baby_pic_set {
	max-width: 80%;
	height: auto;
}
.main_content_life_easier p {
	font-family: "Neuton", sans-serif;
	font-weight: 700;
	font-size: 2em;
	padding: 5px;
	color: #75BE1B;
}
.main_content_buy_sell p	{
	font-family: sans-serif;
	font-size: 1.2em;
	padding: 5px 0 5px 15px;
	color: #75CBD2;
	display: inline-block;
}
.main_content_buy_sell:before {
	content: url(https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/owls/owl_bright_blue_64.png);
}
.shop_now_img{
	margin: 0 auto;
	left: 0%;
	width: auto;
	max-width: 100%;
	height: auto;
}

.tree_image img {
	float: right;
	margin-top: 15%;
	max-width: 50%;
	height: auto;
}	

.ui.grid {
	margin-top: 0;
}

.baby_pic_set img {
	display: block;
	margin: 0 auto 5px auto;
}

/* body footer styling */
.main_content_footer {
	padding-left: 5%;
}
.main_content_footer-img img{
	display: inline-block;
	max-width: 25%;
	height: auto;
	padding: 1% 3%;
}

/* sub_content_footer styling */

.sub_content_footer ul li {
	display: inline;
	color: white;
	list-style-type: none;
	padding: 5px 5px;
	margin: 10px 0 0 0;
	text-shadow: 0 1px lightgrey;
}
.sub_content_footer ul {
	text-align: center;
	margin: 0;
	padding: 20px 0 0 0;
	background-color: #75CBD2;
}
.sub_content_footer ul li:not(.foo) {
	border-right: 1px solid white;
}
.sub_content_footer ul li:hover {
	color: lightgrey;
}

.search-container {
  background-color: white;
  width: 75%;
  height: 80%;
  margin: 0 auto;
  border-radius: 0 0 30px 30px;
}


@media screen and (max-width: 481px) {
	.hide {
		display: none;
	}
}


