@import "variables";
@import "headings";


.ui.grid {
	background-color: black;
}

div p {
	color: white;
}
.main_content {
	margin: 0 auto;
	background-color: white;
}

.baby_pic_set {
	margin-left: 2%;
	height: 800px;
	width: 500px;
}