//- includes/_footer.jade

.two.wide.column
.sub_content_footer
  ul
    li link here
    li link here
    li link here
    li link here
    li link here
    li.foo link here
        .two.wide.column

