.result-container
  h6.search-terms All > Twin > B/G 
  .sort-container
    p sort by:
    select
      option Price
      option Brand
      option Date
    ul.sort-list
      li pre.
      li page num.
      li next
      li view all 
  .sort-results
    ul.sortresulsts-list
      li
        .green-container
        p Sailor Suits $15.00 Jane Joe 4 Hours
      li
        .green-container
        p Sailor Suits $15.00 Jane Joe 4 Hours
      li
        .green-container
        p Sailor Suits $15.00 Jane Joe 4 Hours
      li
        .green-container
        p Sailor Suits $15.00 Jane Joe 4 Hours
      li
        .green-container
        p Sailor Suits $15.00 Jane Joe 4 Hours
      li
        .green-container
        p Sailor Suits $15.00 Jane Joe 4 Hours
      li
        .green-container
        p Sailor Suits $15.00 Jane Joe 4 Hours
      li
        .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
                li
                  .green-container
                  p Sailor Suits $15.00 Jane Joe 4 Hours
