.result-container
  h6.search-terms All > Twin > B/G 
  .sort-container
    p sort by:
    select#searchFilter
      option Price
      option End Date
    ul.sort-list
      li pre.
      li page num.
      li next
      li view all 
  .sort-results
    ul.sortresults-list#searchResultsList

