doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="vendor/semantic/dist/semantic.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
    div(class="ui grid")
      div(class="twelve column row top_row") 
        div(class="two wide column")      
        div(class="twelve wide column") 
          div(class="main_content group")
            div(class="button-container")
              div(class="ui black button")
              div(class="ui yellow button")
              div(class="ui green button")
              div(class="ui blue button")

            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/owls/savings-multiplied-logo-WEB.png")(class="logo")

            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")(class="tagline")
        div(class="two wide column")
    
      div(class="ui inverted pink vertical segment")
          div(class="ui inverted pink menu")
            a.item Buy
            a.item Sell
            a.item How It Works
            a.item Links
            a.item Community
            div(class="ui icon input")
              input(type="text")
      
      div(class="twelve column row middle_row")
        div(class="two wide column")
        div(class="twelve wide column")     
          div.main_content_body
            div.main_content_text
              p We're making one aspect of life easier for parents of multiples
              p Buying and selling gently used sets of clothes
            div.baby_pic_set
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/triplets.jpg")
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/quads.jpg")
            div.main_content_footer
              div.main_content_footer-img
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")
        div(class="two wide column") 
div.sub_content_footer
  ul
    li link here
    li link here
    li link here
    li(class="foo") link here
        div(class="two wide column")

          
script(src="js/main.js")
script(src="/dist/semantic.min.js")