doctype html

html(lang="en-US")

  head
    include ./partials/_head.jade

  body
    include ./partials/_header.jade
    .ui.grid.two.column.stackable
      .twelve.column.row.middle_row
        .two.wide.column
        .twelve.wide.column
          .main_content_body
            .ui.grid.two.column.stackable
              .eight.wide.column
                .content_text_blurbs
                .main_content_life_easier
                  p We're making one aspect of life easier for parents of multiples
                .main_content_buy_sell
                  p Buying and selling gently used sets of clothes!
                .ui.centered.image.shop_now_img
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_shop_now.png") 
                .tree_image.hide
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/tree.png")
              .eight.wide.column
                .ui.large.image.baby_pic_set.column
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/triplets.jpg")
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/quads.jpg")
            .main_content_footer
              .main_content_footer-img
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")
  include ./partials/_footer.jade

script(src="js/main.js")
script(src="/dist/semantic.min.js")

