doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="vendor/semantic/dist/semantic.min.css")

  body
    
    div(class="ui grid")
      
      div(class="two wide column")
        

      div(class="twelve wide column") 
        div.main_content
          div.main_content_header
            h1 Savings Multiplied!
            ul
              li about
              li contact
              li blog
              li press
            p where parents of multiples save, sell, & share
          div.main_content_navbar
            ul
              li buy
              li sell
              li how it works
              li links
              li community
              li search
          div.main_content_body
            div.main_content_text
              p We're making one aspect of life easier for parents of multiples
              p Buying and selling gently used sets of clothes
            div.baby_pic_set
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/triplets.jpg")
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/quads.jpg")
          div.main_content_footer
            ul
              li icon - facebook
              li icon - twitter
              li icon - message boards
              li icon - special offer
          div.sub_content_footer
            ul
              li link here
              li link here
              li link here
              li link here
      div(class="two wide column")
        
      


    script(src="js/main.js")
    script(src="/dist/semantic.min.js")
