doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="vendor/semantic/dist/semantic.min.css")

  body
    
    div(class="ui grid")
      
      div(class="two wide column")
        

      div(class="twelve wide column") 
        div.main_content
          h1 Savings Multiplied!
          div.baby_pic_set
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/triplets.jpg")
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/28713899e79e544ac5d26ec289726e0bee1f2045/app/assets/images/children/quads.jpg")
      
      div(class="two wide column")
        
      


    script(src="js/main.js")
    script(src="/dist/semantic.min.js")
