doctype html

html(lang="en-US")

  head
    include ./partials/_head.jade
  
  body
    include ./partials/_header.jade
  .search-container
  include ./partials/_footer.jade

script(src="js/main.js")
script(src="/dist/semantic.min.js")


