doctype html

html(lang="en-US")

  head
    link(rel="stylesheet" href="css/search.css")
    include ./partials/_head.jade
  body
    include ./partials/_header.jade
  .search-container
    include ./partials/_searchLeft.jade
    include ./partials/_searchright.jade
  include ./partials/_footer.jade

script(src="js/main.js")
script(src="/dist/semantic.min.js")


