doctype html

html(lang="en-US")

  head
    include ./partials/_head.jade

  body
    include ./partials/_header.jade
    .ui.grid.two.column.stackable
      .twelve.column.row.middle_row
        .two.wide.column
        .twelve.wide.column
          .main_content_body
            .ui.grid.two.column.stackable
              .five.wide.column
                include ./partials/_searchLeft.jade
              .eleven.wide.column
                include ./partials/_searchright.jade
    include ./partials/_footer.jade

script(src="js/main.js")
script(src="/dist/semantic.min.js")


