doctype html

html(lang="en-US")

  head
    include ./partials/_head.jade

  body
    include ./partials/_header.jade
 
    
  include ./partials/_footer.jade

script(src="js/main.js")
script(src="/dist/semantic.min.js")


